<div id="navbar-white-bg-bottom"></div>
<div class="navbar-white-bg">
  <div class="navbar-wagon">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-wagon-brand dynamic-logo" do %>
      <div class="dynamic-logo-item dynamic-logo-item-blanc">
        <%= image_tag("Logo-blanc-detoure.png", class: " logo-blanc") %>
      </div>
      <div class="dynamic-logo-item dynamic-logo-item-gris">
        <%= image_tag("Logo-gris-detoure.png", class: "logo-gris") %>
      </div>
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">

        <!-- Links when logged in -->
        <%= link_to "À propos", "#about", class: "navbar-wagon-item navbar-wagon-link trait-vert" %>
        <%= link_to "Services", "#service", class: "navbar-wagon-item navbar-wagon-link trait-vert" %>
        <%= link_to "Portofolio", "#portofolio", class: "navbar-wagon-item navbar-wagon-link trait-vert" %>
        <%= link_to "Contact", "#contact", class: "navbar-wagon-item navbar-wagon-link trait-vert" %>

        <!-- Avatar with dropdown menu -->
        <div class="navbar-wagon-item">
          <div class="dropdown">
            <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to "#" do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
                <% end %>
              </li>
              <li>
                <%= link_to "#" do %>
                  <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
    </div>

    <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" id="closeNav">&times;</a>
        <%= link_to "À propos", "#about", class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "Services", "#service", class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "Portofolio", "#portofolio", class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "Contact", "#contact", class: "navbar-wagon-item navbar-wagon-link" %>
      </div>

      <!-- Use any element to open the sidenav -->
      <span id="openNav"><i class="fa fa-bars dropdown-toggle"></i></span>

   <!--    <script>
        /* Open the sidenav */
          function openNav() {
              document.getElementById("mySidenav").style.width = "100%";
          }

          /* Close/hide the sidenav */
          function closeNav() {
              document.getElementById("mySidenav").style.width = "0";
          }
      </script> -->

      <!-- <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Some mobile link</a></li>
          <li><a href="#">Other one</a></li>
          <li><a href="#">Other one</a></li>
        </ul>
      </div> -->


    </div>
  </div>
</div>

