<%= render 'shared/btn_decouvrir_avem' %>

<div class="ecran relative no-margin" id="home">
  <div class="flex" style="flex-direction: column; justify-content: center;">
    <h1 class="green margin-bottom-30 no-margin">Entre dans un collectif qui te comprends</h1>

    <!--<div id="liste-defilement-auto" data-interval="3000">
        <hr class="item-defilant trait-horizontal" style="transform: translateY(-50%); top: 13px;">
        <hr class="item-defilant trait-vertical hidden-xs" style="top: 0px; left: 50%;">
        <h2 class="item active margin-left-60 margin-bottom-15 no-margin">ton site web,</h2>
        <h2 class="item margin-left-60 margin-bottom-15 no-margin">ton identité de marque,</h2>
        <h2 class="item margin-left-60 margin-bottom-15 no-margin">ton marketing digital,</h2>
        <h2 class="item margin-left-60 margin-bottom-15 no-margin">ta production de vidéo</h2>
      </div>-->

      <h2 class="col-xs-12 no-padding no-margin">
        <hr class="trait-horizontal col-xs-1 no-padding margin-right-30" style="transform: translateY(-50%); top: 13px;">
        pour
        <span id="banner-typed-text"></span>
      </h2>

    <a href="#about" class="navbar-wagon-item"><p class="scroll hidden-xs">scroll</p></a>
  </div>
</div>

<div class="ecran" id="about">
  <div class="row">
    <div class="col-lg-2 col-xs-12 menu-ecran">
      <h3 class="trait-vert no-margin" style="width: fit-content;">À propos</h3>
      <h2 class="col-md-7 no-padding">Liberté, Agilité</h2>
    </div>
    <div class="col-lg-10 col-xs-12 menu-ecran">
      <hr class="trait-horizontal margin-bottom-30 margin-top-30-xs">
      <div class="column-count-2 column-count-xs-1">
        <p>Nous sommes un collectif perfectionniste, entrepreneur, et spécialiste, qui aiment relever des défis au quotidien dans le domaine du développement d’application web et d’identité de marque. <br><br>Développers, designers, chargé de projet, quelques soit notre coeur de métier nous adorons ce que nous faisons, et mettons à votre profit notre expérience, savoir faire pour: désacraliser les technologies digitales en les rendant comprehensible et accessible, et, repenser l’approche du design en nous tenant toujours informés des dernieres tendances. <br><br>Chaque projet est l’occasion pour nous de vous accueillir au sein de notre collectif, en vous faisant vivre une expérience unique, dans lequel nous accompagnons, réflichissons, et concevons la meilleur solution qui convient à votre projet. <br><br>Contactez-nous aujourd'hui pour savoir comment nous pouvons vous aider à réaliser votre prochain projet.</p>
        <div class="video-player margin-top-30" style="text-align: right;">
          <img src="assets/logo.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ecran" id="service">
  <div class="row carousel slide" id="carousel_service">
    <div class="col-lg-4 col-xs-12 margin-bottom-30-xs align-center menu-ecran">
      <h3 class="trait-vert no-margin" style="width: fit-content;">Services</h3>
      <p class="p2 margin-top-15">Nous vous aidons à réaliser votre projet digital et graphique grâce à nos services.</p>
      <ol class="carousel-indicators carousel_service-indicators">
          <li data-target="#carousel_service" data-slide-to="0" class="indicateur active"><h2>Site internet & application</h2></li>
          <li data-target="#carousel_service" data-slide-to="1" class="indicateur"><h2>Identité de marque</h2></li>
          <li data-target="#carousel_service" data-slide-to="2" class="indicateur"><h2>Marketing digital</h2></li>
      </ol>
    </div>
    <div class="col-lg-8 col-xs-12 row" style="padding-top: 50px;">
      <div class="carousel-inner">
        <div class="item active">
          <%= render 'site_internet' %>
        </div>

        <div class="item">
          <%= render 'identite_marque' %>
        </div>

        <div class="item">
          <%= render 'marketing_digital' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ecran" id="portofolio">
  <div class="row">
    <div class="col-lg-2 col-xs-12 align-center menu-ecran">
      <h3 class="trait-vert no-margin" style="width: fit-content;">Portofolio</h3>
      <h2 class="col-md-7 no-padding">Fait avec passion</h2>
    </div>

    <div class="col-lg-10 col-xs-12 row no-padding no-margin-xs" id="carousel_portofolio" style="overflow-x: hidden;">
      <div class="item">
        <%= render "shared/item_portofolio" %>
      </div>
      <div class="item">
        <%= render "shared/item_portofolio" %>
      </div>
      <div class="item">
        <%= render "shared/item_portofolio" %>
      </div>
      <div class="item">
        <%= render "shared/item_portofolio" %>
      </div>
      <div class="item">
        <%= render "shared/item_portofolio" %>
      </div>
    </div>

  </div>
</div>


<div class="ecran green-background" id="contact">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4 menu-ecran">
      <form class="form-horizontal">
        <!-- <fieldset> -->

        <!-- Text input name-->
          <div class="form-group">
            <label class="control-label" for="contact-form-name">Nom</label>
            <div>
              <input id="contact-form-name" name="contact-form-name" type="text" class="form-control input-md" required="true">
            </div>
          </div>

        <!-- Text input mail-->
          <div class="form-group">
            <label class="control-label" for="contact-form-mail">Mail</label>
            <div>
            <input id="contact-form-mail" name="contact-form-mail" type="text" placeholder="" class="form-control input-md" required="">

            </div>
          </div>

        <!-- Text input comment-->
          <div class="form-group">
            <label class="control-label" for="contact-form-comment">Commentaire(s)</label>
            <div>
            <input id="contact-form-comment" name="contact-form-comment" type="text" placeholder="" class="form-control input-md">

            </div>
          </div>

        <!-- Multiple Checkboxes purpose-->
          <div class="form-group">
            <label class="control-label" for="contact-form-purpose">Je cherche à :</label>
            <div>
            <div class="checkbox">
              <label for="contact-form-purpose-0">
                <input type="checkbox" name="contact-form-purpose" id="contact-form-purpose-0" value="1">
                Refondre mon site web
              </label>
            </div>
            <div class="checkbox">
              <label for="contact-form-purpose-1">
                <input type="checkbox" name="contact-form-purpose" id="contact-form-purpose-1" value="1">
                Créer l'identité de mon entreprise
              </label>
            </div>
            <div class="checkbox">
              <label for="contact-form-purpose-2">
                <input type="checkbox" name="contact-form-purpose" id="contact-form-purpose-2" value="1">
                Développer une plateforme web
              </label>
            </div>
            <div class="checkbox">
              <label for="contact-form-purpose-3">
                <input type="checkbox" name="contact-form-purpose" id="contact-form-purpose-3" value="1">
                Autres
              </label>
            </div>
            </div>
          </div>

        <!-- Button submit-->
          <div class="form-group">
            <div>
              <button id="contact-form-submit" name="contact-form-submit" class="btn btn-success">Contacter</button>
            </div>
          </div>

        <!-- </fieldset> -->
      </form>
    </div>
  </div>
</div>
