<%= render 'shared/btn_decouvrir_avem' %>

<div class="btn-group" style="position: fixed; bottom: 70px; left: 50%; transform: translateX(-50%); z-index: 100">
  <button id="haut" class="btn btn-success">Haut</button>
  <button id="bas" class="btn btn-success">Bas</button>
</div>


<div class="ecran relative" id="home">
  <h1 class="green margin-bottom-30 no-margin">Entre dans un collectif qui te comprends pour</h1>

  <div class="relative" id="liste-defilement-auto">
    <hr class="trait-horizontal absolute" style="transform: translateY(-50%); top: 13px;">
    <hr class="trait-vertical absolute hidden-xs" style="top: 0px; left: 50%;">
    <h2 class="margin-left-60 margin-bottom-15 no-margin" data-slide-to="0">ton site web,</h2>
    <h2 class="margin-left-60 margin-bottom-15 no-margin" data-slide-to="1">ton identité de marque,</h2>
    <h2 class="margin-left-60 margin-bottom-15 no-margin" data-slide-to="2">ton marketing digital,</h2>
    <h2 class="margin-left-60 margin-bottom-15 no-margin" data-slide-to="3">ta production de vidéo</h2>
  </div>

  <p class="scroll hidden-xs">scroll</p>
</div>

<div class="ecran" id="about">
  <div class="row">
    <div class="col-lg-2 col-xs-12" style="margin-top: 36px;">
      <h3 class="trait-vert no-margin" style="width: fit-content;">À propos</h3>
      <h2 class="col-md-7 no-padding">On vous comprends</h2>
    </div>
    <div class="col-lg-10 col-xs-12">
      <hr class="trait-horizontal margin-bottom-30 margin-top-30-xs">
      <div class="column-count-2 column-count-xs-1">
        <p>Nous sommes un collectif perfectionniste, entrepreneur, et spécialiste, qui aiment relever des défis au quotidien dans le domaine du développement d’application web et d’identité de marque. <br><br>Développers, designers, chargé de projet, quelques soit notre coeur de métier nous adorons ce que nous faisons, et mettons à votre profit notre expérience, savoir faire pour: désacraliser les technologies digitales en les rendant comprehensible et accessible, et, repenser l’approche du design en nous tenant toujours informés des dernieres tendances. <br><br>Chaque projet est l’occasion pour nous de vous accueillir au sein de notre collectif, en vous faisant vivre une expérience unique, dans lequel nous accompagnons, réflichissons, et concevons la meilleur solution qui convient à votre projet. <br><br>Contactez-nous aujourd'hui pour savoir comment nous pouvons vous aider à réaliser votre prochain projet.</p>
        <div class="video-player margin-top-30" style="text-align: right;">
          <img src="assets/logo.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ecran" id="service">
  <div class="row" style="min-height: 300px;">
    <div class="col-lg-4 col-xs-12 margin-bottom-30-xs" id="vertical-tab-service">
      <h3 class="trait-vert no-margin" style="width: fit-content;">Services</h3>
      <p class="p2 margin-bottom-30 margin-top-15">Nous vous aidons à réaliser votre projet digital et graphique grâce à nos services.</p>
      <h2 class="indicateur pointer active" data-target="#carousel" data-slide-to="0">Site internet & application</h2>
      <h2 class="indicateur pointer" data-target="#carousel" data-slide-to="1">Identité de marque</h2>
      <h2 class="indicateur pointer" data-target="#carousel" data-slide-to="2">Marketing digital</h2>
    </div>
    <div id="carousel_service" class="col-lg-8 col-xs-12 row carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <%= render 'site_internet' %>
        </div>

        <div class="item">
          ZUT
        </div>

        <div class="item">
          CACA
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ecran" id="portofolio">
  <div class="row">
    <div class="col-lg-2 col-xs-12" style="margin-top: 36px;">
      <h3 class="trait-vert no-margin" style="width: fit-content;">Portofolio</h3>
      <h2 class="col-md-7 no-padding">Fait avec passion</h2>
    </div>

<!--     <div class="owl-carousel col-lg-10 col-xs-12 row no-padding">
      <div> <%= render "shared/item_portofolio" %> </div>
      <div> <%= render "shared/item_portofolio" %> </div>
      <div> <%= render "shared/item_portofolio" %> </div>
      <div> <%= render "shared/item_portofolio" %> </div>
      <div> <%= render "shared/item_portofolio" %> </div>
      <div> <%= render "shared/item_portofolio" %> </div>
      <div> <%= render "shared/item_portofolio" %> </div>
    </div> -->

    <div id="carousel_portofolio" class="col-lg-10 col-xs-12 row no-padding carousel carousel-multi slide">
       <!-- data-ride="carousel" -->
      <div class="carousel-inner" role="listbox">
        <div class="item row active">
          <div class="highlighted col-md-4">
            <div class="image-portofolio">
              <img src="assets/photo_exemple.JPG" alt="">
            </div>
            <h3 style="text-align: center;">Nom du projet</h3>
            <p style="text-align: center;">Développers, designers, chargé de projet,</p>
          </div>
        </div>

        <div class="item row">
          <%= render "shared/item_portofolio" %>
        </div>

        <div class="item row">
          <div class="highlighted col-md-4">
            <div class="image-portofolio">
              <img src="assets/photo_exemple.JPG" alt="">
            </div>
            <h3 style="text-align: center;">Nom du projet</h3>
            <p style="text-align: center;">Développers, designers, chargé de projet,</p>
          </div>
        </div>

        <div class="item row">
          <div class="highlighted col-md-4">
            <div class="image-portofolio">
              <img src="assets/photo_exemple.JPG" alt="">
            </div>
            <h3 style="text-align: center;">Nom du projet</h3>
            <p style="text-align: center;">Développers, designers, chargé de projet,</p>
          </div>
        </div>

        <div class="item row">
          <div class="highlighted col-md-4">
            <div class="image-portofolio">
              <img src="assets/photo_exemple.JPG" alt="">
            </div>
            <h3 style="text-align: center;">Nom du projet</h3>
            <p style="text-align: center;">Développers, designers, chargé de projet,</p>
          </div>
        </div>
      </div>
      <!-- Controls -->
        <!-- <a class="left carousel-control" href="#carousel_portofolio" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel_portofolio" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->
    </div>
  </div>
</div>


<div class="ecran green-background" id="contact">
  <form class="form-horizontal col-xs-12 col-md-4 col-md-offset-4">
    <!-- <fieldset> -->

    <!-- Text input name-->
      <div class="form-group">
        <label class="control-label" for="contact-form-name">Nom</label>
        <div>
          <input id="contact-form-name" name="contact-form-name" type="text" class="form-control input-md" required="true">
        </div>
      </div>

    <!-- Text input mail-->
      <div class="form-group">
        <label class="control-label" for="contact-form-mail">Mail</label>
        <div>
        <input id="contact-form-mail" name="contact-form-mail" type="text" placeholder="" class="form-control input-md" required="">

        </div>
      </div>

    <!-- Text input comment-->
      <div class="form-group">
        <label class="control-label" for="contact-form-comment">Commentaire(s)</label>
        <div>
        <input id="contact-form-comment" name="contact-form-comment" type="text" placeholder="" class="form-control input-md">

        </div>
      </div>

    <!-- Multiple Checkboxes purpose-->
      <div class="form-group">
        <label class="control-label" for="contact-form-purpose">Je cherche à :</label>
        <div>
        <div class="checkbox">
          <label for="contact-form-purpose-0">
            <input type="checkbox" name="contact-form-purpose" id="contact-form-purpose-0" value="1">
            Refondre mon site web
          </label>
        </div>
        <div class="checkbox">
          <label for="contact-form-purpose-1">
            <input type="checkbox" name="contact-form-purpose" id="contact-form-purpose-1" value="1">
            Créer l'identité de mon entreprise
          </label>
        </div>
        <div class="checkbox">
          <label for="contact-form-purpose-2">
            <input type="checkbox" name="contact-form-purpose" id="contact-form-purpose-2" value="1">
            Développer une plateforme web
          </label>
        </div>
        <div class="checkbox">
          <label for="contact-form-purpose-3">
            <input type="checkbox" name="contact-form-purpose" id="contact-form-purpose-3" value="1">
            Autres
          </label>
        </div>
        </div>
      </div>

    <!-- Button submit-->
      <div class="form-group">
        <div>
          <button id="contact-form-submit" name="contact-form-submit" class="btn btn-success">Contacter</button>
        </div>
      </div>

    <!-- </fieldset> -->
  </form>
</div>
