<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Avem Creation</title>
    <meta name="description" content="3 passionés, du développement, du design, du marketing, de la photo, de la vidéo, venez nous voir 😇">

    <!-- facebook -->
    <meta property="og:title" content="Avem Création">
    <meta property="og:image" content="https://res.cloudinary.com/avemcreation/image/upload/v1544691021/avemcreation/vignette_lien.jpg">
    <meta property="og:description" content="3 passionés, du développement, du design, du marketing, de la photo, de la vidéo, venez nous voir 😇">
    <meta property="og:site_name" content="avemcreation.com"/>


    <meta name="twitter:card" content="https://res.cloudinary.com/avemcreation/image/upload/v1544691021/avemcreation/vignette_lien.jpg">
    <meta name="twitter:site" content="@avemcreation">
    <meta name="twitter:title" content="Avem Création">
    <meta name="twitter:description" content="3 passionés, du développement, du design, du marketing, de la photo, de la vidéo, venez nous voir 😇">
    <meta name="twitter:creator" content="@avemcreation">
    <meta name="twitter:image:src" content="https://res.cloudinary.com/avemcreation/image/upload/v1544691021/avemcreation/vignette_lien.jpg">



    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body data-spy="scroll" data-target=".navbar" style="overflow-x: hidden">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
